@using Microsoft.AspNetCore.Components.Web
@using WebAppService.Models
@using WebAppService.Services
@inject JsonFileUserService UserService  

<div>
    <table>
        <tr>
            <th>User ID</th>
            <th>User Name</th>
            <th>User Email</th>
            <th>User Telephone</th>
        </tr>

        @foreach (var user in UserService.GetUsers())
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.Telephone</td>
            </tr>
        }
    </table>
</div>

@code {
    
}