@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Simple Web Service</h1>
</div>

<div>
    <table>
        <tr>
            <th>Table name<th>
        </tr>
            
        <tr>
            @foreach (var user in Model.Users)
            {
                <td>@user.Name</td>
            }
        </tr>
    </table>
</div>
